<p>Welcome {{user?.given_name}} {{user?.family_name}} it's time to make some decisions!</p>

<div id="export-btn">
  <button (click)="exportDiagram()"> Export</button>
</div>

<div #ref class="editor-container" style="height: 80%;">
  <ng-template appDmnTabsWrapper></ng-template>
</div>
