

<div class="container" style="width: 100%; height: 100%;">
<!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
  <router-outlet *ngIf="!isIframe">
<app-dmn-editor></app-dmn-editor>
  </router-outlet>
</div>
