/* You can add global styles to this file, and also import other style files */
.dmn-definitions {
  position: absolute;
  top: 20px;
  left: 80px;
  background: #FAFAFA;
  color: #000;
  padding: 5px;
  border-radius: 3px;

  opacity: .6;
  //transition: opacity .3;

  &:hover,
  &:focus {
    opacity: 1;
  }

  > .editable {
    padding: 5px;
    padding-bottom: 4px;
    outline: none;

    &:hover,
    &:focus {
      padding: 4px;
      padding-bottom: 3px;
    }
  }

  > .dmn-definitions-id {
    margin-top: 2px;
    font-family: monospace;
  }
}
.modeler{
  height: 100%;
  width: 100%;
}
.dmn-drd-container {
  height: inherit;
}


.dmn-js-parent {
   border: solid 1px #ccc;
 }
.dmn-js-parent2 {
  border: solid 1px red;
  height: 100%;
  width: 100%;
}

.editor-tabs .tab {
  display: block;
  white-space: nowrap;
  background: white;
  padding: 5px;
  margin: -1px 2px 2px 2px;
  border: solid 1px #CCC;
  border-radius: 0 0 2px 2px;
  padding: 8px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  cursor: default;
  font-size: 14px;
  color: #444;
  flex: 0 0 1%;
}

.editor-tabs {
  display: flex;
  flex-direction: row;
  position: relative;
}

.editor-tabs .tab:first-child {
  margin-left: 5px;
}

.editor-tabs .tab.active {
  border-top-color: white;
}

.editor-tabs .tab.active,
.editor-tabs .tab:hover {
  border-bottom: solid 3px #52b415;
  margin-bottom: 0;
}
.editor-parent {
  height: 100%;
  width: 100%;
}
#dmn-container {
  height: inherit;
}
